.app-container {
    width: 80vw;
    max-width: 1920px;
    margin: 0px auto;
}

.close-hub {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
    top:0px;
    padding: 6px 12px;
    height: 24px;
    cursor: pointer;
}

.close-hub .material-icons {
    font-size: 24px;
}

.close-label {
    padding-right: 8px;
    color: rgb(var(--neutral-90));
}

.welcome-message {
    padding-top: calc(54px + 88px);
    margin-top: 0px;
    margin-bottom: 48px;
}

.search-input {
    font-size: clamp(50px, 5vw, 80px);
    width: 100%;
    padding: 0px;
    border: none;
    background: transparent;
    color: rgb(var(--primary-100));
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.search-input::placeholder {
    color: rgb(var(--neutral-90));
    overflow: hidden;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 128px;
    margin-bottom: 64px;
}

.filter-block {
    min-width: 200px;
}

.filter-header {
    display: flex;
    align-items: center;
    position: relative;
    left: -42px;
}

.filter-header h2 {
    margin: 0px;
}

.header-icon {
    font-size: 26px;
    margin-right: 16px;
    color: rgb(var(--neutral-90));
}

.filter-label {
    font-size: 12.64px;
    line-height: 15px;
    letter-spacing: 0.0052em;
    padding: 8px 0px;
}

.filter {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    height: 16px;
    padding: 12px 12px;
    background: rgb(var(--neutral-60));
    margin: 16px 0px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.filter-name {
    font-size: 16px;
    line-height: 16px;

}

.filter-apply {
    display: flex;
    transform: translateX(79px);
    transition: transform 0.2s;
}

.filter-apply-label {
    opacity: 0;
}

.filter-apply-icon {
    font-size: 16px;
    padding: 0px 8px;
}

.filter:hover {
    background: rgb(var(--primary-100));
    color: rgb(var(--base));
    box-shadow: 0px 6px 20px rgba(var(--shadow-color), var(--shadow-opacity-color));
}

.filter:hover .filter-apply {
    color: rgb(var(--primary-70));
    transform: translateX(0px);
}

.filter:hover .filter-apply-label {
    display: block;
    opacity: 1;
}

div + a {
    margin-top: 24px;
}

a {
    display: block;
    float: left;
    clear: both;
    margin: 4px 0px;
    color: rgb(var(--primary-100));
    transition: none;
}

a:hover {
    color: rgb(var(--base));
    background: rgb(var(--primary-100));
}

textarea:focus, input:focus{
    outline: none;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 160px;
    position: relative;
    left: -42px;
}

.search-icon {
    cursor: pointer;
    color: rgb(var(--primary-100));
}

@media screen and (max-width: 931px) {
    .header-icon {
        display: none;
    }

    .filter-header {
        left: 0px;
    }
    
    .close-label {
        display: none;
    }

    .search-container {
        left: 0px;
    }
   
}