:root {
    --text:21, 23, 27;
    --base:250, 251, 251;

    --neutral-100: 108, 115, 135;
    --primary-100:11, 85, 196;
    --pink-100:204, 29, 127;
    --turquoise-100:40, 120, 120;
    --purple-100:145, 81, 181;
}