body {
    padding: 0px 24px 24px 24px;
    width: 100vw;
    max-width: 100%;
    height: calc(100vh - 24px);
}

.nav {
    width: 274px;
    height: 100%;
    position: absolute;
    left: -250px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    z-index: 200;
    transition: left 0.25s;
}

.nav:hover {
    left: 0px;
    transition: left 0.25s 0.2s;
}

.nav-background {
    width: 0px;
    height: 100%;
    position: absolute;
    z-index: 100;
    left: 0px;
    background: linear-gradient(90deg, rgba(var(--base), 1) 0%, rgba(var(--base), 0.95) 100%);
    transition: opacity 0.25s, width 0s 0.25s;
    opacity: 0;
}

.nav:hover + .nav-background {
    width: 100%;
    opacity: 1;
    transition: opacity 0.25s 0.2s, width 0s 0s;
}

.menu-entry {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    cursor: pointer;
    transition: 0.2s;
}

.menu-entry:hover {
    transform: translateX(12px);
}

.active {
    color: rgb(var(--primary-100));
    font-weight: 700;
}

.active i {
    text-shadow: 0px 4px 20px rgba(var(--primary-100), 0.4);
}

.menu-text {
    font-size: 16px;
    line-height: 24px;
    padding-left: 24px;
}

.menu-icon {
    font-size: 32px;
  width: 32px;
  height: 32px;
}

.header {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 0px;
}

.nav-indicator-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 0px;
    transition: all 0.2s;
    cursor: pointer;
    transform: translateY(-50%);
}
  
.nav-indicator {
    width: 4px;
    height: 4px;
    background: rgb(var(--text));
    margin: 4px 10px;
}
  
.nav-indicator.active {
    background: rgb(var(--primary-100));
}
  
.nav-container:hover .nav-indicator-container {
    left: -40px;
    transition: all 0.2s 0.2s;
}

h1 {
  padding: 12px 0px 0px 24px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 700;
  opacity: 0.5;
}

/*.nav-container {
    width: 100px;
    height: 100px;
    background: transparent;
    position: fixed;
    top: 50%;
    left: 0px;
}*/