@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --text: 21, 23, 27;
    --base: 250, 251, 251;
    --vanta: 255, 255, 255;
    --icon: 250, 251, 251;

    --neutral-100: 108, 115, 135;
    --neutral-90: 159, 163, 178;
    --neutral-80: 202, 204, 212;
    --neutral-60: 233, 234, 237;
    --neutral-50: 243, 244, 245;


    --primary-100: var(--turquoise-100);
    --primary-70: var(--turquoise-70);

    /*--primary-100: 11, 85, 196;
    --primary-70: 153, 192, 250;*/
    --pink-100: 204, 29, 127;
    --pink-70: 246, 192, 222;
    --turquoise-100: 40, 120, 120;
    --turquoise-70: 149, 220, 220;
    --purple-100: 145, 81, 181;

    /*SHADOW*/

    --shadow: 0, 0, 0;
    --shadow-color: var(--primary-100);
    --shadow-border: 0, 0, 0;

    --shadow-opacity-dock: 0.1;
    --shadow-opacity-none: 0;
    --shadow-opacity-border: 0.1;
    --shadow-opacity-color: 0.4; 

    /*HOVER*/

    --hover-frame-opacity: 0.1;
}

[data-theme="dark"] {
    --text: 250, 251, 251;
    --base: 17, 18, 22;
    --vanta: 0, 0, 0;
    --icon: 17, 18, 22;

    --neutral-100: 117, 124, 145;
    --neutral-90: 80, 85, 100;
    --neutral-80: 52, 56, 66;
    --neutral-60: 33, 36, 42;
    --neutral-50: 26, 28, 33;

    --primary-100: var(--turquoise-100);
    --primary-70: var(--turquoise-70);

    /*--primary-100: 52, 129, 244;
    --primary-70: 8, 66, 152;*/
    --pink-100: 225, 48, 147;
    --pink-70: 101, 14, 63;
    --turquoise-100: 60, 181, 181;
    --turquoise-70: 31, 94, 94;
    --purple-100: 174, 128, 201;

    /*SHADOW*/

    --shadow: 0, 0, 0;
    --shadow-color: var(--shadow);
    --shadow-border: 255, 255, 255;

    --shadow-opacity-dock: 1;
    --shadow-opacity-none: 0;
    --shadow-opacity-border: 0.1;
    --shadow-opacity-color: 1; 

    /*HOVER*/

    --hover-frame-opacity: 0.2;
}

::selection {
    background: rgb(var(--primary-100));
    color: rgb(var(--base));
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: 'Roboto';
    background: rgb(var(--base));
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    color: rgb(var(--text));
}


h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28.83px;
    line-height: 40px;
    letter-spacing: 0.003em;
    color: rgb(var(--text));
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25.63px;
    line-height: 30px;
    letter-spacing: 0.007em;
    color: rgb(var(--text));
}

a {
    color: rgb(var(--primary-100));
    cursor: pointer;
    text-decoration: none;
    transition: background-color .2s ease-out, color .2s ease-out;
}

a:hover {
    background-color: rgb(var(--primary-100));
    color: rgb(var(--base));
    transition: none;
}